@import url("null.css");

/*
display=swap;
subset=cyrillic-ext
*/
/*
COLORS_0 {
	color:#faed26
			#46344e
			#5a5560
			#9d8d8f
			#9b786f
}
COLORS_1 {
	color:#A64AC9
			#FCCD04
			#FFB48F
			#F5E6CC
			#17E9E0
}
*/
body {
	font-family: "Roboto", sans-serif;
}
.wrapper {
	/* padding: 20px; */
	background-color: #f5f5f5;
}
._container {
	max-width: 1020px;
	margin: 0 auto;
}
.button {
	display: block;
	background-color: #f2726f;
	border-radius: 8px;
	font-size: 12px;
	line-height: 400%;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #fff;
	/* padding: 9px 25px; */
	text-align: center;
	transition: all 0.15s ease 0s;
}
.button:hover {
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
/* SERVICE */
.service {
	padding: 110px 0px;
	position: relative;
}
.service::before {
	content: "";
	position: absolute;
	background: url(../img/Blob.png) 0 0 no-repeat;
	height: 100%;
	width: 100%;
	top: -50%;
	left: 49%;
	transform: translate(200px, 0);
	z-index: 1;
}
.service__container {
}
.title {
	font-size: 12px;
	line-height: 200%;
	font-weight: 700;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	/* background: url(../img/icons/logo-title.svg) 0 0 no-repeat; вариант №1 */
	color: #5d62b5;
	position: relative; /* Вариант №2 */
}
.title::before {
	content: "";
	display: inline-block;
	width: 27px;
	height: 27px;
	/* padding: 0px 33px 0px 0px ; Вариант №3
	background: url('../img/icons/logo-title.svg') 0 -3px no-repeat;
	vertical-align: middle; */
	background: url("../img/icons/logo-title.svg") 0 0 no-repeat;
	position: absolute;
	top: -2px;
	left: 0;
}
.service__title {
	padding: 0px 0px 0px 33px; /* для position */
	margin: 0px 0px 33px 0px;
}
.subtitle {
	font-size: 36px;
	line-height: 117%;
	font-weight: 900;
	color: #000;
}
.service__subtitle {
	margin: 0px 0px 78px 0px;
}
.service__body {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 42px 0px;
	position: relative;
	z-index: 2;
}
.service__row {
	display: flex;
	margin: 0 -12px 0 -12px;
	flex-wrap: wrap;
}
.service__item {
	padding: 0px 12px;
	flex: 0 0 33.333%;
	display: flex;
	margin: 0px 0px 24px 0px;
}
.card {
}
.card__body {
	padding: 50px 44px;
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	transition: all 0.3s ease 0s;
}
.card__body:hover {
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
}
.card__image {
	margin: 0px 0px 33px 0px;
}
.card__title {
	font-size: 19px;
	line-height: 137%;
	font-weight: 900;
	margin: 0px 0px 20px 0px;
	color: #f2726f;
}
.card__text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.service__button {
	width: 124px;
	height: 48px;
	margin: 0px auto 112px auto;
}

/* PROMISE */
.promise {
	position: relative;
	z-index: 10;
	padding: 120px 0px 210px 0px;
}
.promise__container {
}
.promise__title {
	padding: 0px 0px 0px 33px; /* для position */
	margin: 0px 0px 33px 0px;
}
.title__subtitle {
	margin: 0px 0px 68px 0px;
}
.promise__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -12px;
}
.promise__item {
	flex: 0 1 33.333%;
	padding: 0px 12px;
	margin: 0px 0px 24px 0px;
	min-width: 324px;
}
.item {
}
.item__body {
	display: flex;
	margin: 0px -11.5px;
}
.item__image {
	flex: 0 0 63px;
	padding: 0px 11.5px;
}
.item__content {
	display: flex;
	padding: 0px 11.5px;
	flex-direction: column;
}
.item__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 137%;
	color: #f2726f;
	margin: 0px 0px 20px 0px;
}
.item__text {
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}

/* IMPACT */
.impact {
	background: #29c3be;
	padding: 111px 0px 212px 0px;
	position: relative;
	z-index: 2;
	/* font-size: 0; */
}
.impact__container {
}
.impact__img_b {
	text-align: right;
	margin: -110px -100px 0px 0px;
}
.impact__img {
	text-align: right;
	margin: -390px 0px 0px 0px;
	/* position: relative; */
}
.impact__img img {
	border-radius: 40px;
}
.impact__titles{
}
.impact__title {
	margin: -140px 0px 33px 0px;
	padding: 0px 0px 0px 33px;
}
.title_w {
	color: #fff;
}
.title_w::before {
	content: "";
	background: url("../img/icons/logo-title_w.svg") 0 0 no-repeat;
	top: -2px;
	left: 0;
}
.impact__subtitle {
	max-width: 450px;
	margin: 0px 0px 76px 0px;
	font-weight: 700;
}
.subtitle_w {
	color: #fff;
}
.impact__body {
	display: flex;
	margin: 0px -12px;
	row-gap: 24px;
	flex-wrap: wrap;
}
.impact__item {
	flex: 0 0 25%;
	padding: 0px 12px;
}
.item-impact {
}
.item-impact__body {
	display: flex;
	column-gap: 11px;
}
.item-impact__image{
/* display: inline-block; */
	width: 76px;
	height: 76px;
	/* padding: 0px 11px 0px 0px; */

}
.item-impact__content{

}
.item-impact__title {
	font-size: 36px;
	line-height: 117%;
	font-weight: 900;
	color: #fff;
	margin: 0px 0px 3px 0px;
}
.item-impact__text {
	line-height: 150%;
	font-weight: 700;
	letter-spacing: 0.15px;
	color: #5d62b5;
}
